.imagen-fondo{
    background-image:url(https://img.pccomponentes.com/pcblog/2525/como-grabar-la-pantalla-del-ordenador-3.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}

img{
    padding: 10px;
    max-width: 200px;
    border-radius: 20px;
    background-color: rgb(46, 49, 49);
}